/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Open Sans";
  src: url(assets/fonts/OpenSans-Regular.ttf) format("TrueType ");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
